.lorcana {
    position: relative;
}

.lorcana img {
    border-radius: 7px;
}

.lorcana img.hide-ink {
    filter: grayscale(100%);
}

.lorcana div.hide-ink {
    position: absolute;
    left: 16px;
    bottom: 152px;
    background: var(--color-lorcana-background);
    width: 22px;
    height: 22px;
}

.lorcana .hide-cost {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 20px;
    left: 18px;
    background: var(--color-lorcana-background);
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.lorcana .hide-inkable {
    position: absolute;
    top: 7px;
    left: 5px;
    width: 55px;
    height: 55px;
    background: url('/src/assets/lorcana/inkable.svg') no-repeat;
    background-size: cover;
}

.lorcana .hide-rarity {
    background: var(--color-lorcana-background);
    width: 60px;
    height: 29px;
    position: absolute;
    bottom: 7px;
    left: 50%;
    margin-left:-30px;
}

.lorcana .hide-classifications {
    position: absolute;
    left: 50%;
    width: 180px;
    margin-left: -90px;
    bottom: 157px;
    height: 16px;
    background: var(--color-lorcana-background);
}

.lorcana .hide-text {
    position: absolute;
    bottom: 34px;
    left: 13px;
    background: var(--color-lorcana-background);
    width: 270px;
    height: 123px;
}


.lorcana .hide-lore {
    height: 123px;
    width: 31px;
    position: absolute;
    bottom: 36px;
    right: 13px;
    background: var(--color-lorcana-background);
}

.lorcana .hide-strength {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 179px;
    right: 56px;
    border-radius: 20px;
    background: var(--color-lorcana-background);
}

.lorcana .hide-willpower {
    position: absolute;
    width: 36px;
    height: 40px;
    bottom: 170px;
    right: 15px;
    background: url('/src/assets/lorcana/willpower.svg') no-repeat;
    background-size: contain;
}
