@import "normalize.css";

:root {
    font-size: 1rem;
    --color-text: #2e2e2e;
    --color-muted: #656464;
    --color-primary: #395ca7;
    --color-secondary: #223868;
    --color-background: #D6E0EC;
    --color-light: #FFFFFF;
    --color-accent: #FBD74E;
    --color-accent-secondary: #d5ac13;

    --color-lorcana-background: var(--color-primary);
    --color-pokemon-background: var(--color-primary);

    --breakpoint-mobile: 480px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;

    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--color-text);
    background-color: var(--color-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    font-weight: bold;
    color: var(--color-primary);
    text-decoration: inherit;
}

a:hover {
    color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
    :root {
        font-size: 1.2rem;
    }

}
